@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
:root {
    /* Fontes */
    --font-primary: 'Montserrat';
    --font-secundary: 'Krona One';
    /* Cores */
    --color-primary: #F6F6F6;
    --color-secundary: #22D4FD;
    --color-tertiary: #000000;
    --color-hover: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-tertiary);
    height: 100vh;
}
header {
    position: relative;
    top: 10px;
}
header > nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
header > nav > a {
    font-family: var(--font-primary);
    font-size: 0.9em;
    text-decoration: none;
    color: var(--color-secundary);
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 85%;
}
main > .inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.inf > h1 {
    font-family: var(--font-secundary);
    color: var(--color-primary);
    font-size: 1.2em;
    padding: 5px;
}
.inf > h1 > strong {
    color: var(--color-secundary);
}
.inf > p {
    color: var(--color-primary);
    font-size: 1em;
    font-family: var(--font-primary);
    line-height: 1.5;
}
.inf > h2 {
    font-family: var(--font-secundary);
    color: var(--color-primary);
    font-size: 1em;
    margin-bottom: 5px;
}
.inf > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    color: var(--color-primary);
    border: 1px solid #22D4FD;
    border-radius: 8px;
    width: 60%;
    padding: 5px;
    text-decoration: none;
}
.inf > a:hover {
    background-color: var(--color-hover);
}


/* Sobre mim */
.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
}
.about > .about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.about-me > h1 {
    font-family: var(--font-secundary);
    color: var(--color-primary);
    font-size: 1.3em;
    padding: 5px;
}
.about-me > p {
    color: var(--color-primary);
    font-size: 1em;
    font-family: var(--font-primary);
    line-height: 1.5;
}
.left-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
